@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
}
:root{
    --violeta escuro: #231942ff;
    --violeta claro: #5e548eff;
    --roxo claro: #9f86c0ff;
    --lilas: #be95c4ff;
    --rosa-claro: #e0b1cbff;
    --fonte-titulo:"Edu AU VIC WA NT Guides", cursive;
    --fonte-texto: "Josefin Sans", sans-serif;
}
body{
    background-color: var(--lilas);
    font-family: var(--fonte-corpo);
}
.titulo-principal{
    font-family: var(--fonte-titulo)
}
h1{
    background-color: rgba(213, 187, 247, 0.397)
    display: flex;
    align-items: center;
    justify-content: space-between
}

.cabecalho-img{
    windth;10%
    margin: lem;
}

.cabecalho__link
 text-decoration: none;
 font-size: 2em
 background-color: var (--rosa-claro);
 font-family: var(--fonte-titulo);
 margin-ringht: lem